* {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(http://static.tumblr.com/5he5nuf/rVlmah8as/channels3_background.jpg);
    background-repeat: repeat;
}
a {
    text-decoration: none;
    color: #3a8303;
}
a:hover {
    text-decoration: underline;
    color: black;
}
#profile-picture {
    height: 200px;
    width: 200px;
}
